/*-------------------
FONTS
---------------------*
/*MEDIUM*/
@font-face {
    font-family: 'GalanoMedium';
    src: url('../fonts/GALANO-GROTESQUE-MEDIUM.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

/*lIGHT*/
@font-face {
    font-family: 'GalanoLight';
    src: url('../fonts/GALANO-GROTESQUE-LIGHT.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

/*BOLD*/
@font-face {
    font-family: 'GalanoBold';
    src: url('../fonts/GALANO-GROTESQUE-SEMI-BOLD.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
   /* position: relative;*/
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.btn-primary, .btn, .btn-carrito {
    background-color: rgb(0, 51, 102) !important; /* El !important puede ser necesario para anular estilos de Bootstrap */
    color: white !important;
    border: none !important;
    border-radius: 5px;
}

.btn-primary:hover, .btn:hover {
   background-color: white !important; /* El !important puede ser necesario para anular estilos de Bootstrap */
   color: rgb(0, 203, 152) !important;
   border: solid 0.5px rgb(168, 168, 168) !important;
}

.cantidad {
    font-size: 13px;
    color: red;
    margin-bottom:0px;
    margin-top:0px;
}

.contenedor {
    background-color: #fff;
    padding: 30px;
    border-radius: 15px;
    /* width: 90vw;*/
    margin: auto;
}

.elemento {
    background-color: #e7e7e762;
    padding: 30px;
    border-radius: 15px;
    /* width: 90vw;*/
    margin: auto;
}

.elementoCategoria {
    background-color: #e7e7e762;
    flex: 1;
    padding: 30px;
    border-radius: 15px;
   /* position: fixed;
   /* top: 80px;
    left: 0px;
    width: 200px;*/
}

.form-group input {
    background-color: transparent;
}

li a {
    color: rgb(0, 204, 153)
}

li a:hover {
        color: rgb(0, 51, 102);
}


/* ESCAPARATE */
.boxEscaparate {
    display: flex;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
    min-height: 230px;
    width: 200px;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(14, 23, 38);
    margin-right: 5px;
    margin-left: 5px;
    border-radius: 15px;
    /*EFECTOS PARA EVENTO SOBRE*/
    transition: transform 0.3s;
}

    /*EFECTO DE TRANSICIÓN SOBRE CADA UNO*/
/*.boxEscaparate:hover {
 transform: scale(1.05);
 box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.263);
}*/

    .boxEscaparate h4 {
        margin-top: 10px;
        font-size: 23px;
        color: white;
        text-shadow: 2px 2px 4px rgb(0, 51, 102);
        border-radius: 5px;
    }

    .boxEscaparate p {
        font-weight: 500
    }


#btnBox {
    margin-top: auto;
    margin-bottom: 10px
}


.modal-body {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    display: flex;
    flex-direction: row;
    border-radius: 15px;
    /* overflow: hidden;*/
}

.lado1 {
    position: relative;
    padding: 30px;
    width: 50%;
    overflow: hidden; /* Para ocultar el contenido que sobresale */
    box-shadow: 5px 0px 5px rgba(0, 0, 0, 0.2); /* Agrega sombra en el lado derecho */
}

    .lado1 img {
        width: 100%;
        height: 100%;
        object-fit: cover; /* Para que la imagen cubra completamente el contenedor */
    }

.lado2 {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.productos {
    overflow: auto;
    width: 100%;
    height: 600px;
}

