/*-------------------
FONTS
---------------------*
/*MEDIUM*/
@font-face {
    font-family: 'GalanoMedium';
    src: url('../fonts/GALANO-GROTESQUE-MEDIUM.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

/*lIGHT*/
@font-face {
    font-family: 'GalanoLight';
    src: url('../fonts/GALANO-GROTESQUE-LIGHT.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

/*BOLD*/
@font-face {
    font-family: 'GalanoBold';
    src: url('../fonts/GALANO-GROTESQUE-SEMI-BOLD.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.btn-primary, .btn, .btn-carrito {
    background-color: rgb(0, 51, 102) !important; /* El !important puede ser necesario para anular estilos de Bootstrap */
    color: white !important;
    border: none !important;
    border-radius: 5px;
}

.btn-primary:hover, .btn:hover {
   background-color: white !important; /* El !important puede ser necesario para anular estilos de Bootstrap */
   color: rgb(0, 203, 152) !important;
   border: solid 0.5px rgb(168, 168, 168) !important;
}

.cantidad {
    font-size: 13px;
    color: red;
    margin-bottom:0px;
    margin-top:0px;
}
