@model IEnumerable<ModulAR.Models.ViewUsuarioConRol>

@{
ViewData["Title"] = "Index";
Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Usuarios Registrados</h1>
<br />
<p>
    <a asp-action="Create">Nuevo Administrador</a>
</p>
<table class="table">
    <tr>
        <th>
            Usuarios
        </th>
        <th>
            Nombre de Usuario
        </th>
        <th>
            Rol
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelIdtem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreUsuario)
            </td>
            <td>
                @Html.DisplayFor(modelIdtem => item.RolDeUsuario)
            </td>
        </tr>
    }
</table>