@{
    ViewData["Title"] = "Privacy Policy";
}
<!-- Views/Carrito/CarritoVacio.cshtml -->
<style>
    .minimo {
    min-height:20vw;}
</style>

<div class="minimo">
    <h1>Privacidad</h1>
    <p>Nuestra politica de privacidad es importante, para todos.</p>
<p><a asp-action="Index" asp-controller="Home">Volver</a></p>

</div>

