<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ModulAR</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ModulAR.styles.css" asp-append-version="true" />
    <!--PARA CREAR VENTANA EMERGENTES-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+WyD6u6j4qJzI95gZliznY8me5vmNMNMIYB" crossorigin="anonymous">


</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">ModulAR</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">

                        @if (User.Identity.IsAuthenticated)
                        {
                            @if (User.IsInRole("Usuario"))
                            {
                               <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Escaparate"
                               asp-action="Index">Escaparate</a>
                        </li>

                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="MisDatos"
                               asp-action="Edit">Mis Datos</a>
                                </li>
                            }
                            @if (User.IsInRole("Administrador"))
                            {
                                                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Estados"
                               asp-action="Index">Estados</a>
                        </li>
                                                <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Categorias"
                               asp-action="Index">Categorias</a>
                        </li>

                                                <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Productos"
                               asp-action="Index">Productos</a>
                        </li>

                        
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Clientes"
                               asp-action="Index">Clientes</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Pedidos"
                               asp-action="Index">Pedidos</a>
                        </li>

                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Usuarios"
                               asp-action="Index">Usuarios</a>
                                </li>
                            }
                        }
                        else //USUARIO CUALQUIERA
                        {
                            <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        }

                              
                        @*
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Detalles"
                               asp-action="Index">Detalles</a>
                        </li>*@

                     
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - ModulAR - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <!--PARA VENTANA EMERGENTE-->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
            integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+WyD6u6j4qJzI95gZliznY8me5vmNMNMIYB"
            crossorigin="anonymous"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
