<!-- Views/Carrito/CarritoVacio.cshtml -->
<h1>Carrito Vacío</h1>
<p>Su carrito está vacío. ¿Desea explorar nuestro escaparate?</p>
<p><a asp-action="Index" asp-controller="Escaparate">Ir al escaparate</a></p>