<!-- Views/Carrito/CarritoVacio.cshtml -->
<style>
    .minimo {
    min-height:20vw;}
</style>

<div class="minimo">
    <h1>Carrito Vacío</h1>
<p>Su carrito está vacío. ¿Desea explorar nuestro escaparate?</p>
<p><a asp-action="Index" asp-controller="Escaparate">Ir a escaparate</a></p>

</div>
